.exTableButtons {
    display: block;
    height: 30px;
    width: 150px;
    margin-top: 30px;

}
.exTableButtons button {
    display: block;
    height: 30px;
    width: 150px;
    margin-top: 5px;

}

.expanded-room-list{
	background-color: #bbcadf !important;
}