.roomConfigList tbody{
    display: block;
    overflow-y: scroll;
    height: calc(100vh - 320px);
    width: 1000px 
}

.roomConfigList {
	width: 860px;
	border-collapse: collapse;
	font-size: 0.9em;
	margin-right: 100px;
}

.roomConfigList th,
.roomConfigList td {
	padding: 8px;
	text-align: left;	
}

.roomConfigList th {
	font-weight: 600;
}

.form-group label {
	color: #495057;
}

.form-group input {
	width: 100%;
	border: 1px solid #ced4da;
	border-radius: 4px;
	font-size: 14px;
}
.form-row {
    justify-items: center;
}

.form-group {
	flex: 1;
    margin-bottom: 20px;
}

.form-group label {
	display: block;
    width: 200px;
	margin-bottom: 2px;
    margin-top: 10px;
	font-weight: 500;
	color: #495057;
}

.form-group textarea{
    height: 80px;
    width: 200px;
}

.create-room-type-form {
	background: #e1f5f5;
	height: 610px;
    justify-items: center;
    display: grid;
    width: 250px;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.room-type-table {
	background: #e1f5f5;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	border: none;
}
.room-type-table th, 
.room-type-table thead, 
.room-type-table tr{
	background-color: #495057;
}

.expandedRow textarea{
	width: 500px;
	height: 100px
}