.roomConfigList tbody{
    display: block;
    overflow-y: scroll;
    height: calc(100vh - 320px);
    width: 1000px 
}

.roomConfigList {
	width: 860px;
	border-collapse: collapse;
	font-size: 0.9em;
	margin-right: 100px;
}

.roomConfigList th,
.roomConfigList td {
	padding: 8px;
	text-align: left;	
}

.roomConfigList th {
	font-weight: 600;
}

.form-group label {
	color: #495057;
}

.form-group input {
	width: 100%;
	border: 1px solid #ced4da;
	border-radius: 4px;
	font-size: 14px;
}
.form-row {
	margin-bottom: 20px;
}

.form-group {
	flex: 1;
}

.form-group label {
	display: block;
	margin-bottom: 8px;
	font-weight: 500;
	color: #495057;
}
.create-room-type-form {
	background: #f8f9fa;
    justify-items: center;
    display: grid;
    width: 250px;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}