.menu .active {
    background-color: #4da6ff;
    color: white;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    display: block;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px;
    display: block;
}

.menu a:hover {
    background-color: #3399ff;
    border-radius: 4px;
}

.menu li {
    margin: 5px 0;
    list-style: none;
}

.menu ul {
    padding-left: 20px;
}